.footer {
    min-height: 30px;
    max-height: 30px;
    text-align: center;
    background-color: #001489;
    font-variant: small-caps;
    display: flex;
    flex-direction: row;
    padding: 5px;
    color: #FFDD00;
    align-content: space-between;
}

.footer:hover{
    cursor: pointer;
}

.button {
    flex-grow: 1;
}

.selected {
    font-style: italic;
    flex-grow: 1;
}