.card {
    display: flex;
    border: 1px black solid;
    width: 250px;
    flex-direction: column;
    padding: 5px;
}

.row{
    display: flex;
    flex-direction: row;
}

.flag{
    width: 30px;
}

.grow{
    flex-grow: 1;
}